apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-hrjrhtmm
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-hrjrhtmm:f1976910db59284e747cefb1a42375bfa5e51056@sha256:29ef1faa67d65149a57aab12f64e9fa9cf80d9b20deeab1b54972017ef5ca7b6
        name: container-image  
